<section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>

<div  class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="col-md-8 align-self-center">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-file"></i> Aidat Ekle
                </div>
                <div class="card-body">
                    <form [formGroup]="dueAddForm" (ngSubmit)="add()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input formControlName="id" type="number"
                                        class="form-control form-control-alternative" placeholder="
                                    Due Id">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input formControlName="apartmentId" type="number"
                                        class="form-control form-control-alternative" placeholder="Apartment ID">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input formControlName="amount" type="number"
                                        class="form-control form-control-alternative" placeholder="Amount">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input formControlName="billDate" type="date"
                                        class="form-control form-control-alternative" placeholder="Bill Date">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>