<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- SVG separator -->
    </section>
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">

                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                            <div class="card-profile-actions py-4 mt-lg-0">
                                <button type="button" class="btn btn-sm btn-info mr-4" data-bs-toggle="modal"
                                    data-bs-target="#cardAddModal">
                                    Kart Ekle
                                </button>
                                <button class="btn btn-sm btn-default float-right" data-bs-toggle="modal"
                                    data-bs-target="#message-addModal"> Message</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5" *ngIf="customerInfo">
                        <h3>{{ customerInfo.firstName }} {{ customerInfo.lastName }}</h3>
                        <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>{{customerInfo.tellNo}} - {{
                            customerInfo.mailAddress }}
                        </div>
                    </div>
                    <button  class="btn btn-sm btn-default float-right" data-bs-toggle="modal" data-bs-target="#cardShowModal"> Kartlarim</button> 
                </div>
            </div>
        </div>
    </section>
</main>


<section class="section pb-0 bg-gradient-warning">
    <div class="container">
        <div class="row ">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="position-relative pl-md-5">
                    <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
                </div>
            </div>

            <div class="d-flex px-3">

            </div>
            <div class="col-md-4">
                <div class="lead text-white">
                    <div class="text-center header">
                        Faturalar
                    </div>

                    <app-apartment-bill></app-apartment-bill>

                </div>
            </div>
            <div class="col-md-4">
                <div class="lead text-white">
                    <div class="header">

                    </div>



                </div>
            </div>

            <div class="col-md-4">
                <div class="lead text-white">
                    <div class="text-center header ">
                        Aidat
                    </div>

                    <app-apartment-due></app-apartment-due>

                </div>
            </div>
        </div>
    </div>
    <!--modals-->
    <app-card-add-modal></app-card-add-modal>
    <app-message-add></app-message-add>
    <app-payment-modal></app-payment-modal>
    <app-card-show-modal></app-card-show-modal>