<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="col " *ngFor="let customer of customers ">
      <div class="card card-hover shadow mb-3">
        <div class="card-body ">

          <button (click)="deleteCustomer(customer)" class="btn btn-danger btn-sm"
            style="position: absolute; top: 0; right: 0;"><i class="fa fa-trash fa-lg"></i></button>

          <div class="icon icon-shape icon-shape-grey  rounded-circle mb-4">
            <i class="ni
                  ni-single-copy-04"></i>
          </div>

          <!--edit mode-->
          <div *ngIf="customer.editMode">
            <form>
              
              <div class="form-group">
                <label for="firstName"> First Name</label>
                <input type="text" class="form-control" id="firstName" [(ngModel)]="customer.firstName" name="firstName">
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" [(ngModel)]="customer.lastName"
                  name="lastName">
              </div>
              <div class="form-group">
                <label for="identityNumber">identityNumber:</label>
                <input type="number" class="form-control" id="identityNumber" [(ngModel)]="customer.identityNumber" name="identityNumber">
              </div>
              <div class="form-group">
                <label for="mailAddress">mailAddress:</label>
                <input type="text" class="form-control" id="mailAddress" [(ngModel)]="customer.mailAddress" name="mailAddress">
              </div>
              <div class="form-group">
                <label for="telephoneNumber">telephoneNumber:</label>
                <input type="tel" class="form-control" id="telephoneNumber" [(ngModel)]="customer.telephoneNumber" name="telephoneNumber">
              </div>
              <div class="form-group">
                <label for="identityNumber">plateNumber:</label>
                <input type="text" class="form-control" id="plateNumber" [(ngModel)]="customer.plateNumber" name="plateNumber">
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary" (click)="cancelEdit(customer)">Cancel</button>
            </form>
          </div>
          <!--off edit mode -->
          <div class="justfiy-content-row" clas *ngIf="!customer.editMode">
            <h1 style="white-space: nowrap;" class="card-title">{{customer.lastName}}<small class="text-body fw-light ">{{customer.firstName}}</small></h1>
            <div>
              <label   style=" color: #8f3d3d; font-weight: bolder;" >E-Mail</label>
              <p class="description mt-1 text-warning" style=" font-weight: bold;">
                {{customer.mailAddress}}
              </p>
              </div>
            <div>
            <label  style=" color: #8f3d3d; font-weight: bolder;"  >TC</label>
            <p class="description mt-1 text-warning" style=" font-weight: bold;">
              {{customer.identityNumber}}
            </p>
            </div>
            <div>
              <label  style=" color: #8f3d3d; font-weight: bolder;"  >Plate Number</label>
              <p style=" color: #000; font-weight: lighter;">
                {{customer.plateNumber}}
              </p>
              </div>
            
        </div>
        <!--Add Edit Button -->
      <button *ngIf="!customer.editMode" class="btn btn-button" (click)="editCustomer(customer)">Edit</button>
      </div>
    </div>
  </div>
</div>